# Directories #
sunjong/
Fin/
inputs/
lmd_files/
models/
music_generator/
new_midiset/
original_wav2genre/
Output/

# files #
.wav
.pkl
.mid
.npy
test*.py
temp.py

# model
bestmodel/