# Directories #
bestmodel/
maybe_no_use/
no_use/
other_models/
.idea/
__pycache__/
old_versions/

train/train_options/
*.git/

ts-1.0/

# files #
.wav
.pkl
.mid
.npy
test*.py
temp.py


train/test*.py

confmat.png